@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @apply font-body text-lg min-h-reverse;
}

header {
  background-image: url("images/pattern-bg.png");
  height: 36%;
  z-index: 20;
}

main {
  height: 64%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 10;
}

.leaflet-top[class~="leaflet-left"] {
  visibility: hidden;
}

.leaflet-bottom[class~="leaflet-left"] {
  bottom: 25px;
}

.info-item {
  @apply md:text-left md:flex-1 md:border-r md:pl-8 md:my-5 border-gray-300;
}

.info-title {
  @apply text-d_gray font-bold text-2xs tracking-x_wide uppercase xl:text-xs md:pb-4;
}

.info-detail {
  @apply font-medium pb-2 -top-1 relative xl:text-medium md:pb-4;
}

.last {
  @apply border-0;
}
