@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @apply font-body text-lg;
}

header {
  background-image: url("images/pattern-bg.png");
}

.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 10;
}

.info-title {
  @apply text-d_gray font-bold text-2xs tracking-x_wide uppercase;
}

.info-detail {
  @apply font-medium pb-2 -top-1 relative;
}
